## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
import sys
sys.path.append('../')

# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Weather_Database/weatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,0,Porto Santo,PT,2022-02-01 20:28:30,33.0720,-16.3415,64.31,82,20,21.85,few clouds
1,1,1,Kaitangata,NZ,2022-02-01 20:28:31,-46.2817,169.8464,61.41,91,100,3.65,overcast clouds
2,3,3,Bluff,NZ,2022-02-01 20:27:32,-46.6000,168.3333,70.81,74,100,13.04,overcast clouds
3,4,4,Naze,JP,2022-02-01 20:25:47,28.3667,129.4833,55.63,71,100,10.74,overcast clouds
4,14,14,Bredasdorp,ZA,2022-02-01 20:28:35,-34.5322,20.0403,75.60,76,3,3.06,clear sky

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather: </dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Bryan"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Bryan"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Callaway"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Saint Pete Beach"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Miami Beach"]

In [36]:
vacation_start

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
279,983,983,Bryan,US,2022-02-01 20:56:00,30.6744,-96.37,68.09,79,100,3.44,overcast clouds

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = "(" + str(vacation_start["Lat"]) + "," + str(vacation_start["Lng"]) + ")"
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

start[0]

array([ 30.6744, -96.37  ])

In [51]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
itinerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode="DRIVING")
fig.add_layer(itinerary)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,983,983,Bryan,US,2022-02-01 20:56:00,30.6744,-96.3700,68.09,79,100,3.44,overcast clouds
1,348,348,Callaway,US,2022-02-01 20:37:44,30.1530,-85.5699,70.18,42,0,8.01,clear sky
2,981,981,Saint Pete Beach,US,2022-02-01 20:55:59,27.7253,-82.7412,75.25,43,16,3.00,few clouds
3,1107,1107,Miami Beach,US,2022-02-01 20:55:46,25.7906,-80.1301,73.42,56,100,3.00,overcast clouds
4,983,983,Bryan,US,2022-02-01 20:56:00,30.6744,-96.3700,68.09,79,100,3.44,overcast clouds

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather: </dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

locations

       Lat      Lng
0  30.6744 -96.3700
1  30.1530 -85.5699
2  27.7253 -82.7412
3  25.7906 -80.1301
4  30.6744 -96.3700

In [68]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

itinerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode="DRIVING")

fig.add_layer(itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))